@model WebApplication2.Models.Control_value

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Control_value</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Control_Value_Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Control_Value_Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enclosure_Maintenance_Attribute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enclosure_Maintenance_Attribute.Enclosure_Maintenance_AttributeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Control_ValueID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
