@model IEnumerable<WebApplication2.Daily_Temperature>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reproting_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Temperature)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Teperature_Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reproting_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teperature_Time.Temperature_TimeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Daily_TemperatureID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Daily_TemperatureID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Daily_TemperatureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
