@model WebApplication2.Enclosure_Maintenance_Type

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enclosure_Maintenance_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maintenacne_Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maintenacne_Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>
        <dt>
            @Html.DisplayNameFor(model =>model.Enclosure_Maintenance_Attributes)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Attribute Name</th>
                    <th>Unit</th>
                    <th>Max Value</th>
                    <th>Min Value</th>
                    <th>Error Message</th>
                    <th> Control Description</th>
                    <th> Data Types</th>
                </tr>

                @foreach (var item in Model.Enclosure_Maintenance_Attributes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem =>item.Attribute_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Max_value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Min_value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Error_Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ControlType.Control_Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data_Type.Data_Type_Descripton)
                        </td>
                    </tr>

                }

            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Enclosure_Maintenance_TypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
